/* defalut setting */
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

li{
  list-style: none;
}




