.write__title {
  text-align: center;
}

.form__write {
  width: 650px;
  margin: 5% auto;
}

.fieldset__write {
  display: flex;
  border: none;
}

.label__title{
  font-size: 24px;
}

#input__write__title,
#board__write {
  margin: 4% 0px;
  font-size: 20px;
  border-radius: 6px;
  padding: 3%;
  width: 92%;
  background-color: #ffffff;
}

#board__write {
  resize: none;
}

.write__btn{
  margin-left: 80%;
  padding: 1%;
  font-size: 18px;
}
